@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital@0;1&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.56;
    color: #252525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

    &::after {
        content: '.';
        color: #00f;
    }

    &::first-letter {
        text-transform: uppercase;
    }
}

h2 {
    font-size: 30px;
    line-height: 1.4;
}

p {
    margin: 0px;
    padding: 0px;
}

.text_style {
    opacity: 0.8;
}

section,
header {
    border-bottom: 1.2px solid #e3e3e3;
}

li {
    list-style-type: none;
}

body.lock {
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;

    .content {
        flex: 1 0 auto;
    }

    .footer {
        flex: 0 0 auto;
    }
}

// !HEADER STYLE
.header {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    padding: 10px 0px;
    background-color: #fff;
}

.logo {
    &__link {
        font-size: 24px;
        line-height: 1.66;
        text-decoration: none;
        color: #000;

        &::after {
            content: '.';
            color: #00f;
        }
    }
}

.menu {
    text-align: right;

    &__item {
        margin-right: 25px;
        padding: 8px 5px;
    }

    &__link {
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;

        &:hover {
            color: #00f;
        }
    }
}

// !ABOUT STYLE
.about {
    padding-top: 130px;
    color: #373737;

    &__name {
        margin-bottom: 7px;
        font-size: 36px;
        line-height: 1.25;
    }

    &__sign {
        margin-bottom: 15px;
        font-size: 16px;
        opacity: 0.8;
    }

    &__contacts {
        margin-bottom: 25px;
    }

    &__phone {

        &_style {
            font-size: 12px;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
            line-height: 1.66;
            text-transform: uppercase;
            color: #000;
        }
    }

    &__text {
        padding-left: 60px;
        font-size: 14px;
        line-height: 1.4;
        color: #252525;
    }

    &__modals {
        margin-bottom: 35px;

        @media (max-width: 430px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__btn_style {
        display: inline-block;
        text-align: center;
        min-width: 170px;
        padding: 15px;
        border-radius: 2px;
        border: none;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 12px;
        transition: all 0.3s ease;
        cursor: pointer;

        @media (max-width: 430px) {
            width: 100%;
        }
    }

    &__btn-modal {
        margin-right: 30px;
        line-height: 1.66;
        background-color: #3333ff;
        color: #fff;

        &:hover {
            box-shadow: 10px 10px 20px rgba(51, 51, 255, 0.2);
        }

        @media (max-width: 430px) {
            margin-bottom: 25px;
        }

    }

    &__btn-cv {
        background-color: #efefef;
        color: #252525;

        &:hover {
            box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
        }
    }
}

.skills {

    &__about {
    }

    &__title {
        padding-top: 30px;
    }

    &__text {
    }

    &__box {
        padding: 33px 0px;
        border-bottom: 1px solid #e3e3e3;
    }

    &__box-title {
    }

    &__box-text {
    }
}